* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  
  display: flex;
  text-align-last: left;
  
  background-color: black;
  font-size: 30px;
  color: white;
}
nav span {
  width: 25%;
  justify-content: right;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(14,16,45,1) 34%, rgba(113,98,27,1) 57%, rgba(179,63,98,1) 66%, rgba(179,63,98,1) 66%, rgba(123,30,122,1) 97%); min-height: 100%;
  min-width: 100%;
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}
.column {
  display: flexbox;
  flex-direction: column;
}
.block {
  
  background-color: #0c0a3e;
  border-radius: 15px;
}

.wrapper {
  display: flex;
  margin: 0px;
  padding: 0px;
}
li {
  font-weight: normal;
  font-size:15px;
  max-height: 200px;
  height: fit-content;
  overflow:hidden;
  text-align: center;
  background: #07252ab4;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  width: fit-content;
}
li:nth-child(odd) {
  overflow:hidden;
  background: #720d43b4;
  color: rgb(255, 255, 255);
  padding: 1px;
  border-radius: 15px;
  width: fit-content;
}
li:hover {
  width: fit-content;
  color: rgb(8, 4, 44);
  background-color: sandybrown;
  font-weight: bold;
}
.inlinestuff{
  padding: none;
  margin: 0;
  display:flex;
  width: inherit;
}
input {
  position: relative;
  top: -13px;
  padding: 2%;
  background-color: aliceblue;
  border-radius:   15px  0 0 15px;
  width: 100%;
}
.container {
  margin-left: 10px;
  max-width: 960px;
  margin-top: 10px;
}

span p span{
  flex:none;
  display: inline;
  position: relative;
}
.title {
  background-color: #7b1e7a;
  color: #b33f62;
  font-family: inherit;
}

.centerCol {
  padding-left: 10%;
}
.box::-webkit-scrollbar {
  display: none;
}
.box {
  display: flexbox;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 15px;
  color: #b33f62;
  font-size: 20px;
  background-color: #0c0a3e;
  overflow: hidden;
  max-height: 860px ;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 44px;
}
#mapid { 
  margin-left: 10%;
  margin-right: 10%;
  height: 850px; 
  padding: auto;
  width: auto;
}

.butPlot{
  display: inline-flex;
  position: relative;
  align-self: center;
}
.plot {
  cursor: pointer;
  display: flex;
  width: 20%;
  position: relative;
  justify-content: center;
  top: -13px;
  padding: 2%;
  background-color: aliceblue;
  border-radius: 0  15px  15px 0;
}
.submit:hover{
  
  background-color: rgb(94, 128, 160);
  color:white;
}
#mapid{
  border-radius: 15px;
}