* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 .wrapper {
    display:flex;
    flex-direction: column;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  }
  nav {
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: rgba(2, 71, 56, 0.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 10px;
  }
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
  }
  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.page {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    background-color: #D6E9FE;
    padding-bottom: 10px;
  }
  
  .content {
    background-color: #EAEDF0;
    height: 600px;
  }
  
  .feature-1 {
    background-color: #F5CF8E;
  }
  
  .feature-2 {
    background-color: #F09A9D;
  }
  
  .feature-3 {
    background-color: #C8C6FA;
  }
  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;  /* <--- Really freaking cool! */
    align-items: center;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }
  .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }
  .social,
.subscribe {
  align-self: flex-end;
}
.links {
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    margin-left: 20px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }
  .footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}
.signup {
    margin-left: auto;
    text-decoration: none;
    color:white;
  }
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
}
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
  .header {
    height: 400px;
  }
}
.menu-links {
  color: white;
  text-decoration: none;
}

.carousel {
  overflow:hidden;
  max-width: 300px;
  position: relative;
  justify-content: center;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.carousel .carousel__item--visible {
  display: block;
}




.carousel__button--prev {
  margin-left: 20px;
  display: flex;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #D6E9FE;
  border: none;
  cursor: pointer;
  font-style: bold;
}
.carousel__button--next {
  margin-right: 20px;
  display: flex;
  width: 100%;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-style: bold;
}