
.flex {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-self: center;
  background-color: rgba(240, 248, 255, 0.63);
  margin-left: 40%;
  margin-right: 40%;
  padding-bottom: 10%;
  border-radius: 15%;
  border: 10px black;
  outline: 10px black;
}
.challengeList
{
  align-self: center;
}
body{
  background-image: url("https://source.unsplash.com/daily");
  background-size: 100%;
}
li{ list-style-type: none; }